*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a, button{
    cursor: pointer;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  div{
    max-width: 100vw;
    max-height: 100vh;
  }
  body {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.6;   
  }


.sign-up-form {
    margin: 0px auto 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 0.1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 65px;
    padding: 3rem;
    width: 27.8125rem;
  
}


ul{
    list-style: none !important;
    display: flex !important;
    margin: 0 3rem 0 0;
}

.user::before {
    background-image: url('./images/Ellipse 59.svg');
}

.backimg {
    background-image: url(./images/dao-logo-only-blocks\ \(1\).svg); 
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 1036.49px, 1036.49px;
    float: right;
}

.container-1{
  display: flex;
  justify-content: center;

}
.text{

  align-items: center;
  justify-content: center;

}
.span1{

  text-align: end;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #5E6C84;
  }
  .heading{
    margin-top: -1rem;
    
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;

  color: #4B525D;
}
.para-1{
  text-align: center;
  margin: 2rem 0 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  justify-content: center;

  color: #696969;

}
form{
  margin-top: 2rem;
}
.btn-outline{
  background: #EBECF0;
border: 1px solid #B4B4B4;
box-sizing: border-box;
border-radius: 2px;
}
.priv-user{
  width: 50%;
  margin: 0 auto;

}
.priv-user ul{
  width: 100%;
  justify-content: center;
}
.priv-user ul li{
  padding: 0 0.8rem;
}
.img-pol{
  margin-top: -0.8rem;
}
.footer-1{
  display: flex;
  flex-direction: row;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}